@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Noticia Text', serif;
}

body{
    font-size: 14px;
}

a{
    color:#B80000;
}

a:hover{
    opacity: 0.7;
}

h1{
    border-left: 5px solid #B80000;
    padding-left:10px;
}

.loading{
    display: flex;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
}

.loading img{
    width:150px;
}

nav{
    background-color: #B80000;
    min-height: 70px;
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    padding:10px;
    align-items: center;
}

.menu{
    cursor:default;
}

.mobile-menu{
    font-size: 20px;
    color:#fff;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-items{
    display: none;
    position: absolute;
    top:100%;
    left:0;
    background-color: #000;
    color:#fff;
    width:100%;
    
}

.menu-items li{
    padding:10px;
}

.menu-items li.active{
    color:#B80000;
}

.menu-items li:hover{
    color:#B80000;
    text-decoration: underline;
}

.menu-items.open{
    display: block;
}

.container{
    padding:20px;
}

.headings{
    margin:25px 0;
    display: none;
}

h2.headings{
    border-bottom:2px solid #000;
}

img{
    width:100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}

.main-article{
    margin-bottom: 50px;
}

.main-article .article{
    display: block;
}

.main-article .title{
    border-top:1px solid #B80000;
    padding-top:10px;
}

.others{
    display: grid;
    gap:50px;
    grid-template-columns: 1fr;
}

.others .article{
    box-shadow: 1px 1px 7px 0px rgb(58 59 70 / 9%);
}

.others .image img{
    width:100%;
    min-width: 250px;
    max-height: 185px;
    height: auto;
}

.title{
    font-size: 16px;
}

.date_auth{
    display: flex;
    justify-content: space-between;
}

.main{
    padding:20px;
}

.others .main{
    padding: 10px;
}

.others .story{
    display: none;
}

.title{
    margin:10px 0;
}

@media (min-width:630px){
    .others .article{
        display: flex;
    }
    .others .main{
        padding: 0;
        margin-left: 20px;
        padding: 15px;

    }

    .others .image img{
        min-width: 278px;
    }
    
}

@media (min-width:1065px){
    .headings{
        margin-top:50px;
        margin-bottom: 20px;
    }

    .others{
        display: grid;
        gap:50px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .main-article .article{
        display: flex;
        flex:1;
        width:100%;
        min-height:400px;
    }

    .main-article .article .non-text{
        width:100%;
        min-width: 400px;
        max-height: 400px;
    }

    .main-article .non-text img{
        max-height: none;
        height: 400px;
    }

    .main-article .title{
        font-size: 2rem;
        padding-top: 0px;
    }

    .main-article .more{
        margin:20px 0;
    }

    .main-article .date_auth{
        padding:0px
    }

    .others .article{
        display: block;
    }

    .others .main{
        padding-top:0;
        padding:20px;
        margin-left: 0;
    }
    .others .image img{
        max-width:none;
        max-height:300px;
        height: auto;
    }

    .story{
        font-size: 16px;
    }

    .mobile-menu{
        display: none;
    }

    .menu-items{
        display: flex;
        height:50px;
    }

    .menu-items.open{
        display: flex;
    }
    
}